{% extends 'base.html' %}
{% block content %}

<h2>My Travel Bucket List</h2>
    
{% for places in all_travel %}
    <div class="places">
        {{ places.name }}, {{ places.country.name }}
        <div>
            <form class="delete-form" action="/list/{{ places.id }}/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
        <div>
            <form class = "edit-form" action="/{{ places.id }}/edit" method="GET">
                <button><a href="{{ places.id }}/edit">Edit</a></button>
            </form>
        </div>
    </div>
{% endfor %}

{% endblock %}