{% extends 'base.html' %}
{% block content %}
<div class="cities">
<h1 class="cities-title">My Cities</h1>
<section class="city-list">
    {% for city in all_cities %}
    <ul>
        <h3><li>{{ city.name }}, {{ city.country.name }}
            <h4><a href="/wishlist/add/{{city.id}}">Add to wishlist</a></h4>
        </li></h3>
    </ul>
    {% endfor %}
</section>
<section class="add-city-form">
    <form action="/my_cities" method="post">
        <label for="city">City: </label>
        <input type="text" id="city" name="city-name" placeholder="City" required>
        <br>
        <div>
            <label for="country">Country</label>
            <select id="country" name="country_id">
                {% for country in all_countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit">Add to list</button>
    </form>
</section>
</div>
{% endblock  %}