{% extends 'base.html' %}
{% block content %}
<section class="city-list">
    <h2>My Cities</h2>
    {% for city in all_cities %}
    <ul>
        <li>{{ city.name }}</li>
    </ul>
    {% endfor %}
</section>
<section>
    <form action="/my_cities" method="post">
        <label for="city">City: </label>
        <input type="text" id="city" name="city-name" placeholder="City" required>
        <br>
        <div>
            <label for="country">Country</label>
            <select id="country" name="country_id">
                {% for country in all_countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit">Add to list</button>
    </form>
</section>
{% endblock  %}