body {
    background-color: white;
    font-family:fantasy;
    color: rgb(67, 57, 39);
    margin: 0;
}

header {
    background-color: rgb(189, 189, 72);
    margin: auto;
    color: brown;
    border: 0;
}

.homepage-title {
    display: flex;
    justify-content: center;
    border: 0;
}

.homepage-body {
    display: flex;
    justify-content:center;
}

.homepage-pic {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    margin: 0;
}

.profile-logo {
    display: flex;
    justify-content: center;
    margin: 0;
}

.user {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.user-buttons {
    display: flex;
    flex-direction: column;
}

.user-button1 {
    margin: 0;
}

.user-button2 {
    margin: 0;
}



