{% extends 'base.html' %}

{% block content %}
<section class="homepage-title">
    <h1>KEEPING UP WITH THE JONESES</h1>
</section>
<section class="homepage-body">
    <img src="static/images/Scroll2.jpeg" width="800" height="600" alt="text-scroll">
    
</section>
<section class="guide">
    <h2>Keeping Up With The Joneses is a fun way to plan your next adventure, and check off all the places you've visited along the way.
        Got an idea of where in the world you'd like to find yourself? Just hop over to the My Countries tab and add a country to your list!
        Then, if you want to get more specific, follow the link to the Add Location and add a city to your travel bucket list! You can review
        your list in the My List section!  
    </h2>
</section>
{% endblock %}